<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <title>YouTube v2</title>
  <link rel="stylesheet" href="styles.css">
</head>
<body>
  <header>
    <h1>YouTube</h1>
    <input type="text" id="search" placeholder="Pesquisar">
  </header>

  <main>
    <div class="video">
      <img src="img/Sertanejo.jpeg" alt="Video 1">
        <h2><a href="https://youtu.be/UKmsUyeHH64?si=O1yZr-X_JE_hZAOi">Top sertanejos 2025</a></h2>
      <p>Canal: Sertanejo 2020 </p>
    </div>
    <!-- Clone de vídeos -->
    <div class="video">
      <img src="" alt="video 2"> <br></br>
        <h2><a href="https://youtu.be/gMxQ8vxH9Vk?si=sfSwXsy1o8LhgyQm">Curso de programação (Lógica)</a></h2>
      <p>Canal: Attekita Dev </p>
    </div>
  </main>

  <script src="script.js"></script>
</body>
</html>
